@model BookingHotel.Models.EmployeeSchedule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee Schedule</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScheduleID" />

            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label">Employee</label>
                <select asp-for="EmployeeID" class="form-control" asp-items="ViewBag.EmployeeID"></select>
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Taskname" class="control-label">Task Name</label>
                <input asp-for="Taskname" class="form-control" />
                <span asp-validation-for="Taskname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Slot" class="control-label">Time Slot</label>
                <select asp-for="Slot" class="form-control">
                    <option value="01:00-06:00">01:00-06:00</option>
                    <option value="07:00-12:00">07:00-12:00</option>
                    <option value="13:00-18:00">13:00-18:00</option>
                    <option value="19:00-24:00">19:00-24:00</option>
                </select>
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ShiftStartTime" class="control-label">Shift Start Time</label>
                <input asp-for="ShiftStartTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="ShiftStartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ShiftEndTime" class="control-label">Shift End Time</label>
                <input asp-for="ShiftEndTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="ShiftEndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
