@{
    ViewData["Title"] = "ThankYou";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center; font-size: 24px; color: #28a745;">Thank You!</div>
            <div style="text-align: center; font-size: 18px; margin-top: 20px;">Your booking has been confirmed successfully.</div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continue to main page</a>
        </div>
    </div>
</div>